.main
  .main_top
    .main_top_title
      .main_top_title_upper
        = @group.name
      .main_top_title_under
        - @group.users.each do |user|
          = user.name    
    .main_top_btn
      = link_to edit_group_path(current_user), class: "chat_edit_btn" do
        Edit
  .main_center
    .main_center_thread
      = render @messages
      .main_center_thread_name
  .main_bottom
    = form_for [@group, @message] do |f|
      .main_bottom_textbox
        .main_bottom_textbox_text
          = f.text_field :content, class: 'form__message', placeholder: 'type a message', style: "border: none"
        .main_bottom_textbox_img
          = label :image, class: "input-box__image" do
            = fa_icon 'picture-o'
            = f.file_field :image, class: 'file'
      .main_bottom_send
        = f.submit 'Send', class: 'form__submit'
