.main
  .main_top
    .main_top_title
      .main_top_title_upper
        title
      .main_top_title_under
        member
    .main_top_btn
      Edit
  .main_center
    .main_center_thread
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .main_center_thread_name
          = f.label :image, class: 'form__mask__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
  .main_bottom
    .main_bottom_textbox
      .main_bottom_textbox_text
        type a message
      .main_bottom_textbox_img
        %label{class: "input-box__image"}
          %i.fa.fa-image
            %input{type: "file", class: "file"}
    .main_bottom_send
      send

