.main
  .main_top
    .main_top_title
      .main_top_title_upper
        title
      .main_top_title_under
        member
    .main_top_btn
      Edit
  .main_center
    .main_center_thread
      = render @messages
      .main_center_thread_name
  .main_bottom
    .main_bottom_textbox
      .main_bottom_textbox_text
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'form__message', placeholder: 'type a message', style: "border: none"
      .main_bottom_textbox_img
        %label{class: "input-box__image"}
          = icon('fas', 'image')
          %input{type: "file", class: "file"}
    .main_bottom_send
      = form_for [@group, @message] do |f|
        = f.submit 'Send', class: 'form__submit'